<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Helix Nodes" content="Minecraft Hosting">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/animate.css">
    <title>Hilex Nodes | A new Era of hosting</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar  sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hilex Nodes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faq">FAQs</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="https://discord.gg/YWyf98PZpG">Sign Up</a></li>
                  <li><a class="dropdown-item" href="#">Log In</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- navbar end -->
      <!-- top -->
      <div class="container top vertical-center wow bounceInRight">
          <div class="my-auto">
          <p class="tagline">Hilex Nodes</p>
          <p class="slogan">Quality hosting now affordable</p>
          <button type="button" class="btn btn-dark button">Get one now!</button>
          </div>
          
      <!-- <div class="img">
        <img src="/images/logo.png" alt="">
      </div> -->
      </div>
      <h1 class="h1_cr wow bounceInRight" id="features">Our Features</h1>
      <div class="cards-con container wow bounceInRight" >
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
              <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIF_JvujHrMJmNAznyhlReM9gbm7SbFDgoKg&usqp=CAU" class="card-img-top" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIF_JvujHrMJmNAznyhlReM9gbm7SbFDgoKg&usqp=CAU">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat odio facilisis mauris sit amet massa vitae. Interdum posuere lorem ipsum dolor sit.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIF_JvujHrMJmNAznyhlReM9gbm7SbFDgoKg&usqp=CAU" class="card-img-top" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIF_JvujHrMJmNAznyhlReM9gbm7SbFDgoKg&usqp=CAU">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat odio facilisis mauris sit amet massa vitae. Interdum posuere lorem ipsum dolor sit.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIF_JvujHrMJmNAznyhlReM9gbm7SbFDgoKg&usqp=CAU" class="card-img-top" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIF_JvujHrMJmNAznyhlReM9gbm7SbFDgoKg&usqp=CAU">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat odio facilisis mauris sit amet massa vitae. Interdum posuere lorem ipsum dolor sit.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIF_JvujHrMJmNAznyhlReM9gbm7SbFDgoKg&usqp=CAU" class="card-img-top" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIF_JvujHrMJmNAznyhlReM9gbm7SbFDgoKg&usqp=CAU">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat odio facilisis mauris sit amet massa vitae. Interdum posuere lorem ipsum dolor sit.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <main>
          <h1 class="h1_pr wow bounceInRight" id="pricing">Our Pricings</h1>

        <div class="f3 wow bounceInRight">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center pricing">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Free</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Specs</li>
                  <li>Specs</li>
                  <li>Specs</li>
                  <li>Specs</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Pro</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Specs</li>
                  <li>Specs</li>
                  <li>Specs</li>
                  <li>Specs</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Enterprise</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Specs</li>
                  <li>Specs</li>
                  <li>Specs</li>
                  <li>Specs</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <h1 class="h1_dr wow bounceInRight" id="faq">FAQs</h1>
      <div class="f2 wow bounceInRight">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Text
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                <strong>Text</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat odio facilisis mauris sit amet massa vitae. Interdum posuere lorem ipsum dolor sit.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Text
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <strong>Text</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat odio facilisis mauris sit amet massa vitae. Interdum posuere lorem ipsum dolor sit.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Text
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                <strong>Text</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat odio facilisis mauris sit amet massa vitae. Interdum posuere lorem ipsum dolor sit.
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="container footer wow bounceInRight">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#features" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#pricing" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#faq" class="nav-link px-2 text-muted">FAQs</a></li>
          </ul>
          <p class="text-center text-muted">© 2021 Hilex Nodes, design by <a href="https://github.com/REGEX777">regex</a></p>
        </footer>
      </div>
</body>
<script>
  const d = new Date();
  let year = d.getFullYear();
  document.getElementById("demo").innerHTML = year;
</script>
<script src="/js/wow.min.js"></script>
<script>
new WOW().init();
</script>
</html>